<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2021 Juraj Antal

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sk.trupici.gwatch.wear">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <!--  Required for alarms -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="info.nightscout.androidaps" />
        <package android:name="com.eveningoutpost.dexdrip" />
        <package android:name="com.outshineiot.diabox" />
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_gwatch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".watchface.AnalogWatchfaceService"
            android:label="@string/analog_watchface_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            >

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/analog_watchface" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog" />

            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="sk.trupici.gwatch.wear.CONFIG_WATCH_ANALOG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name=".config.AnalogWatchfaceConfigActivity"
            android:label="@string/analog_config_name"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="sk.trupici.gwatch.wear.CONFIG_WATCH_ANALOG" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".watchface.DigitalWatchfaceService"
            android:label="@string/digital_watchface_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            >

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/digital_watchface" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog" />

            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="sk.trupici.gwatch.wear.CONFIG_WATCH_DIGITAL" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name=".config.DigitalWatchfaceConfigActivity"
            android:label="@string/digital_config_name"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="sk.trupici.gwatch.wear.CONFIG_WATCH_DIGITAL" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".config.ColorPickerActivity"
            android:label="@string/digital_config_name"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".config.BorderPickerActivity"
            android:label="@string/digital_config_name"
            android:exported="true"
            >
        </activity>

        <activity android:name="android.support.wearable.complications.ComplicationHelperActivity"/>

        <activity android:name=".components.BgAlarmActivity" android:exported="true">
            <intent-filter>
                <action android:name="sk.trupici.gwatch.wear.BG_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->

        <service android:name=".services.BgDataListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/bg_data"/>
            </intent-filter>
        </service>

        <service android:name=".services.AapsDataListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/aaps_data"/>
            </intent-filter>
        </service>

        <service android:name=".services.ConfigListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/config"/>
            </intent-filter>
        </service>

        <!-- BG provider -->
        <service android:name=".providers.BgDataProviderService" android:exported="true"
            android:roundIcon="@mipmap/ic_gwatch"
            android:label="@string/provider_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,RANGED_VALUE" />

             <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <receiver android:name=".providers.ProviderDataUpdater" android:exported="true">
            <intent-filter>
                <action android:name="sk.trupici.gwatch.wear.BG_RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>